@import "../demo/tokens.css";

.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  padding: 0.5em 1em;
  transition: background-color 0.3s ease-in-out; /* Add this line for transition */
}

.storybook-button--primary {
  color: white;
  background-color: var(--brand);
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: var(--w100); /* Example color */
  margin-right: 8px;
  flex-shrink: 0; /* Prevent icon from shrinking */
}

.storybook-button--secondary {
  background-color: transparent;
  color: var(--p100);
  border: 2px solid var(--p100);
}

.storybook-button--secondary:hover {
  background-color: var(--w100);
}

.storybook-button--secondary:active {
  background-color: var(--p100);
  color: var(--w100);
}

.storybook-button--secondary .icon {
  background-color: var(--p100); /* Example color */
}