@import "../demo/tokens.css";

.checkbox {
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid #ccc;
  position: relative;
}

.checkbox.checked {
  background-color: var(--p200);
}

.checkbox.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 9px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
