@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    background-color: #f5f5f5;
}
.swiper-link {
    white-space: nowrap; /* Prevents text from wrapping */
}

.swiper-slide {
    width: 120px !important;
    margin-right: 0 !important;
}
.galleryGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
}
.rb-c {
    border-radius: 0.5rem;
    border: 1px solid #ebebeb;
}
.clickable-icon {
    cursor: pointer;
}
button:focus, a:focus, input:focus {
    outline: none;
    outline-offset: 2px;
}



/* Tailwind CSS for Card Components */
.colorCard, .imageCard {
    @apply w-full sm:w-auto; /* Full width on mobile, auto width on desktop */
  }
  
@media (max-width: 640px) {
    .galleryGrid {
        grid-template-columns: 1fr; /* Makes it a single column on small screens */
        gap: 20px; /* Adjust gap for mobile, if necessary */
    }
}

/* Ensure this style applies only from 'sm' breakpoint and above */
@media (min-width: 640px) {
    .cardGallery {
        margin-left: auto;
        max-width: calc(100% - 76px); /* Ensure it aligns with the rest of the content on desktop */
    }
}

/* Ensure cards take full width on smaller screens */
@media (max-width: 639px) {
    .cardGallery {
        margin-left: 0;
        max-width: 100%;
    }
}


@media (max-width: 768px) {
    .container {
        padding: 0;
    }
    .CatalogNav {
        width: 100%;
        order: -1; /* Moves navigation to the top on mobile */
    }
}
@media (max-width: 768px) {
    .mobile-hidden {
        display: none !important;
        font-size: x-large;
    }
}



@media (max-width: 1024px) {
    .left-card-column {
        margin-right: 64px!important;
    }
    .image-card-image {
        min-width: 0!important;
        min-height: 0!important;
        max-width: 280px;
        max-height: 200px;
    }
    .logo-container {
        padding-left: 1.5rem!important;
    }
    .nav-pipe{
        display: none;
    }
    .search-ico-container {
        margin-right: 2rem!important;
    }
    .left-rail-updates {
        font-size: 1.75rem;
    }
    .card-gallery {
        padding: 0!important;
    }
}

@media (max-width: 425px) {
    .lockup-body-text {
        padding: 0 25px 0 25px;
    }
    .hero-headline {
        font-size: 3.5rem!important;
    }
    .hero-sub-headline {
        font-size: 1.75rem!important;
    }
    .lockup-container {
        padding-top: 100px!important;
    }
    .hero-container {
        height: 344px!important;
        margin-top: -414px!important;
        padding: 28px 0 28px 0;
    }
    .hero-lockup {
        height: 103%!important;
    }
}